# Auto detect text files and perform LF normalization
* text=auto

# C# source files
*.cs text diff=csharp
*.xaml text
*.csproj text
*.sln text eol=crlf

# Documentation
*.md text

# Binary files
*.dll binary
*.exe binary
*.ico binary